.product-nav-container {
  color: #333;
}

.product-nav-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.product-nav-container a {
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.product-nav-container a:visited,
.product-nav-container a:link {
  color: #333;
}

.product-nav-container li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
}

.product-nav-container .selected {
  color: #EDA3B5;
  border-bottom: 1px solid #EDA3B5;
}

.product-nav-container .selected a:visited,
.product-nav-container .selected a:link {
  color: #EDA3B5;
}

.not-selected {
  color: green;
}

.selected-content {
  color: #8E8E93;
  line-height: 24px;
  margin-bottom: 32px;
}
