.top-navbar {
  display: flex;
  justify-content: space-between;
}

.top-navbar {
  align-items: center;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar-center {
  width: 50%;
}

.strikethrough {
  text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
  .top-navbar {
    justify-content: space-around;
  }
}