.top-navbar {
  /* border: 1px solid #333; */
  display: flex;
  justify-content: space-between;
}

.top-navbar {
  align-items: center;
}

.navbar-links {
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links li {
  /* border: 1px solid #333; */
}

.navbar-left {

}

.navbar-center {
  width: 50%;
}

.strikethrough {
  text-decoration: line-through;
}