.top-navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
}

.top-navbar {
  align-items: center;
}


.navbar-left {
  margin: 0;
  padding: 0;
}

.navbar-left,
.navbar-right {
  margin: 0.5rem;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.navbar-center {
  width: 50%;
}

.strikethrough {
  text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
  .top-navbar {
    justify-content: space-around;
  }
}
