.favourite-circle {
  border-radius: 100%;
  border: 0px;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.favourite-circle img {
  padding: 0;
}

.favourite-selected {
  background-color: red;
  mask: url('/images/iconFavourite.svg') no-repeat center;
}
